html{
    margin: 0;
    box-sizing:border-box;
}

body{
    padding: 0;
}

ul{
    list-style: none;
}
/* LAYOUT */



.conteiner{
    width: 900px;
    margin: auto;
    padding: 0 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

header{
    background-color: rgb(102, 184, 252);
}

.row{
    display: flex;
    align-items: center;
}

    .list{
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: center;

}

.col{
    border: dashed black 1px;
    padding: 5px; 
}

.col.list{
    width: 50%;
}

.logo{
    width: 20%;
}

.login {
    width: 20%;
}

nav .col{
    background-color: darkgoldenrod;
}

/*MAIN CONTENT*/

